<p id="notice"><%= notice %></p>

<div class="hstack gap-3">
<div><h1>Most recent comparisons</h1></div>
<div><%= link_to "Add your own!", new_comparison_path, class: "btn btn-primary" %></div>
</div>

<% @comparisons.order(created_at: :desc).each do |comparison| %>
 <%= render 'comparisons/comparison', comparison: comparison  %>
<% end %>


<%= link_to 'New Comparison', new_comparison_path %>
