<p id="notice"><%= notice %></p>

<h1>All Comparisons</h1>

<% @comparisons.each do |comparison| %>
 <%= render 'comparisons/comparison', comparison: comparison  %>
<% end %>


<%= link_to 'New Comparison', new_comparison_path %>
