  <% content_for :title, "New comparison" %>

<h1 class="mb-4">Create a new comparison</h1>
<div class="row w-50">
<%= render 'form', comparison: @comparison %>
</div> 
<div class="row">
<%= link_to 'Back', comparisons_path %>
