
 <%= render 'comparisons/comparison', comparison: @comparison  %>

  <% content_for :title, @comparison.neighborhood_1.name + " is like " + @comparison.neighborhood_2.name %>

<div class="h5">Comments:</div>
 <%= render 'comments/form', comparison: @comparison, comment: @comparison.comments.build  %>

<ul class="list-group list-group-flush">
<% @comparison.comments.all.order(created_at: :desc).each do |comment| %>
 <%= render 'comments/comment', comment: comment  %>

    <% end %>
  </ul> 


<div class="row"><%= link_to 'Back', comparisons_path %></div>
