console.log("upvoting!")
console.log("<%= dom_id(@comparison) %>_upvotes")
var updated_upvote = $("<span class='badge text-bg-primary' id='<%= dom_id(@comparison) %>_upvotes'><%= @comparison.upvotes %></span>");

$("#<%= dom_id(@comparison) %>_upvotes").replaceWith(updated_upvote);
