console.log("upvoting!")
var updated_upvote = $("<span j(class='badge text-bg-primary') j(id='<%= dom_id(comparison) %>_upvotes'><%= comparison.upvotes %></span>)");
updated_upvote.hide();


$("#<%= dom_id(@comment) %>_upvotes").replaceWith(updated_upvote);
updated_upvote.fadeIn();
