
  <% content_for :title, "Worst comparisons all time" %>

<div class="hstack gap-3">
<div><h1 class="fs-1 fw-lighter"><b><i>Worst</i></b> Comparisons All time</h1></div>
<div><%= render 'shared/add_comparison_button' %>
</div>
</div>
<ol>
<% @comparisons.each do |comparison| %>
 <li class="fs-1"><%= render 'comparisons/comparison', comparison: comparison  %></li>
<% end %>
</ol>

<%= link_to 'New Comparison', new_comparison_path %>
