      <li class="list-group-item">

        <div class="media">
          <div class="media-body">
            <h5 class="mt-0 fs-4">
              <%= link_to comment.commenter.username, users_top_path(comment.commenter.username) %> <span class="fw-lighter fs-5">(Posted <%= time_ago_in_words(comment.created_at) %> ago)</span>
              <!-- still need to make the link to profile pages work -->
            </h5>
            <p class="fw-light"><%= comment.body %></p>
          </div>
        </div>

      </li>
 