 <div class="row">
    <div class="mb-5 mt-5">
      <div class="card">
        <div class="card-header fs-2">
          
          <%= @city.name %> 
        </div>
        <div class="card-body">

        <div class="hstack gap-3">
        <div class="bg-ligt">
          <h5 class="card-title"></h5>
          <p class="card-text fs-3">
          <p><%= @city.description %></p>
          <p>
            <strong>Lat:</strong>
            <%= @city.lat %>
          | <strong>Lng:</strong>
            <%= @city.lng %>
          </p>
          
        </div>
        <div class="vr"></div>
          <div>
          right side << THIS IS WHERE GOOGLE MAP WILL GO >>
          </div>
        </div>
  
      </div>
      <div class="card-footer text-muted">
        
        </div>
        </div>
      </div>
    </div>
