
  <% content_for :title, "Cities" %>

<h1 class="fs-1 fw-lighter">Cities</h1>


<ul>
    <% @cities.each do |city| %>


 
   
<li><%= link_to city.display_name, city %></li>
 <% end %>
</ul>


<br>

<%= link_to 'New City', new_city_path %>
</div>
