
<h1 class="fs-1 fw-lighter">All Neighborhoods</h1>
<% City.all.each do |each_city| %>
<ul class="list-unstyled card-columns" >

  <li class="fs-4"><%= link_to each_city.display_name, each_city %>
  <ul style="column-count: 4;">
    <% Neighborhood.where(:city=>each_city).all.order(name: :asc).each do |neighborhood| %>
      <li class="fs-6"><%= link_to neighborhood.name, neighborhood %>
      </li>
    <% end %></ul>
    </li>
    </ul>
<% end %>



<hr>

<%= link_to 'New Neighborhood', new_neighborhood_path %>
