
<h1 class="fs-1 fw-lighter">Neighborhoods</h1>

<% City.all.each do |each_city| %>
  <li><%= link_to each_city.name, each_city %><ul>
    <% Neighborhood.where(:city=>each_city).all.each do |neighborhood| %>
      <li><%= link_to neighborhood.name, neighborhood %>
      </li>
    <% end %></ul>
    </li>
<% end %>



<hr>

<%= link_to 'New Neighborhood', new_neighborhood_path %>
